@import './global.scss';

body,html{width: 100%; height: 100%;font-family:helvetica;}
li{list-style:none;}
a{text-decoration:none}

body,h1,h2,h3,h4,h5,h6,p,ul,td,tr{margin:0;padding:0}

.heightPercent{height:100%;}

